<h2>Dear {{name}},</h2>
<p>
We work with corporations on accent reduction for non-Native speakers of English. 
We help executives at McKinsey, Accenture, BCG to name a few.
</p>
<p>
May this service be relevant for your team at {{company}}?
Can I call you next week to discuss if we can be helpful?
</p>
<p>
Best,
</p>
- Anna
<p>
P.S. we are a US-based company with the Front Office in New York and instructors located on 3 continents
</p>
Anna Ievlieva<br>
Senior Marketing Manager<br>
cell: +1 (646) 286-8432<br> 
www.linkedin.com/in/annaievlieva<br>
Skype: anna.ievlieva